<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark text-white">
    <div class="container mt-5">
      <div class="row">
        <% shoes.forEach(el => { %>
        <div class="card bg-dark" style="width: 18rem">
          <img src="<%= el.img %>" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title"><%= el.name %></h5>
            <p class="card-text"><%= el.desc %></p>
            <small class="card-text"><%= el.price %></small>
            <div class="card-footer">
              <a href="/admin/update/<%= el._id %>" class="btn btn-primary"
                >Edit</a
              >
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
