<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row gx-2">
        <% shoes.forEach(el => { %>
        <div class="card col-3" style="width: 18rem">
          <div class="card-img">
            <img src="<%= el.img %>" alt="" />
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= el.name %></h5>
            <p class="card-text"><%= el.desc %></p>
            <small class="card-text"><%= el.price %></small>
            <div class="card-footer mt-2">
              <a href="/admin/update/<%= el._id %>" class="btn btn-primary"
                >Edit</a
              >
              <button onclick="remove('<%= el._id %>')" class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
        <% }) %>
        <div class="card col-4">
          <div class="card-body">
            <a href="/admin/add" class="btn btn-success">Add</a>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script>
      const remove = (id) => {
        console.log(id);
        fetch(`/admin/delete/${id}`, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ id }),
        }).then(() => window.location.reload());
      };
    </script>
  </body>
</html>
